<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDpiPhVnElyMsr9ss5-yzRV_EYOF1AlvyI</string>
	<key>GCM_SENDER_ID</key>
	<string>871580010479</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce2</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-57e88</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-57e88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871580010479:ios:9943935ebc49bef30f981a</string>
</dict>
</plist>